.main-header{
    margin: -8px -8px 0px -8px;
    background-image: url('flowerback.JPG');
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}
.title{
    font-size: 50px;

}
a{
    text-decoration: none;
    color: #263eca;
    font-family: Ink Free;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.post{
    padding: 10px 35px;
    width: 550px;
    margin-bottom: 50px;

}

p{
    font-family: Century Gothic;
}


